*,
*::before,
*::after { box-sizing: border-box; }

#aa-form {
  @import '@scbd/www-css/dist/scss/import-no-reboot';
  font-family: 'BenchNine', sans-serif;
  position: relative; width: 100%;

  .stick{position: sticky;  z-index: 5; top: 0}
  .card { margin-bottom:2em; }
  .partner { background-color: rgba(0,0,0,.02); }
  .desc { white-space: pre-wrap; }
  .icon { margin-right: 1em; height: 24px; width: 24px; }
  .item { margin-left:3em; }
  .item span { margin-left:-3em; }
  .item span:first-line { margin-left:0; }
}